@charset "utf-8";

* {
    box-sizing: border-box;
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
}

.icon {
    
    padding: 50px 50px;
}

.header-right {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 10px 0;
}

.text {
    padding: 15px 40px;
    height: 70px;
}

.small {
    margin-right: 40px;
}

.main {
    text-align: center;
}

.orca {
    margin-bottom: 100px;
    max-height: 60%;
    max-width: 100%;
}