@charset "UTF-8";
* {
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #696969;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
    height: 230px;
}

.icon {
    padding: 50px 50px;
    position: absolute;
    left: 0;
}

body {
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
    margin: 0;
}


#work {
    padding: 40px;
    margin-top: 50px;
}

.main {
    display: flex;
    justify-content: center;
}

.main img {
    width: 400px;
    margin: 30px;
}

.text {
    width: 400px;
    margin: 30px;
    
}


.footer {
    background-color: #a9a9a9;
    color:white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 0;
}